@font-face {
  font-family: "Heebo-Regular";
  src: url("./fonts/Heebo-Regular.woff") format("woff");
}

@font-face {
  font-family: "Heebo-Bold";
  src: url("./fonts/Heebo-Bold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  font-family: "Heebo-Regular", Arial, Helvetica, sans-serif;
  background: #f9f8f8;
  color: #000;
}

h1,
h2,
h3 {
  font-family: "Heebo-Bold", Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}

/* HEADER */
header {
  background: #fff;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
  font-family: "Heebo-Bold", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

/* END HEADER */

/* LOGIN PAGE */

/* END LOGIN PAGE */
.login {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.login a {
  text-decoration: none;
  color: #1971ff;
  padding: 1.5rem 3rem;
  border: 1px solid #ddd;
  list-style: none;
  background: #f9f8f8;
  border-radius: 5px;
  text-align: center;
  margin: 1rem 0;
}

.login a:visited {
  color: #6d19ff;
}
/* ADMIN HOME PAGE */
.home {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.formHome {
  border: 1px solid #ddd;
  background: #fff;
  padding: 3rem;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 500px;
}

.formHome h2 {
  margin-top: 3rem;
}

.formHome div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2rem 0;
}

.formHome div input[name="newScore"] {
  align-self: flex-end;
}

.formHome div div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.formHome div div label,
input {
  align-self: flex-start;
}

.formHome input {
  border: 1px solid #ddd;
  background: #f9f8f8;
  padding: 1rem;
}

.formHome input[name="newMatch"] {
  width: 75%;
}

.formHome input[name="newScore"] {
  width: 25%;
  text-align: center;
}

.formHome button {
  text-align: center;
  border: none;
  background: #1971ff;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

.addedMatches {
  border: 1px solid #ddd;
  background: #fff;
  padding: 3rem;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  overflow-y: scroll;
}

.addedMatches ul li a {
  text-decoration: none;
  color: #1971ff;
}

.addedMatches ul li a:visited {
  color: #6d19ff;
}

.addedMatches ul li {
  padding: 0.5rem;
  border: 1px solid #ddd;
  list-style: none;
  background: #f9f8f8;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin: 1rem 0;
}

/* END ADMIN HOME PAGE */

/* DETAIL PAGE */
.detail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail a {
  text-decoration: none;
  color: #1971ff;
  margin-bottom: 1rem;
}

.detail a:visited {
  color: #6d19ff;
}

.formDetail {
  border: 1px solid #ddd;
  background: #fff;
  padding: 5rem 3rem;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formDetail div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  gap: 1rem;
}

.formDetail div div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formDetail input {
  border: 1px solid #ddd;
  background: #f9f8f8;
  padding: 1rem;
}

.formDetail input[name="newMatch"] {
  text-align: center;
}

.formDetail input[name="newScore"] {
  width: 50%;
  text-align: center;
  margin: 1rem auto;
}

.formDetail button {
  text-align: center;
  border: none;
  background: #1971ff;
  color: #fff;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}

/* END DETAIL PAGE */

/* MATCHES PAGE */
.allMatches {
  border: 1px solid #ddd;
  background: #fff;
  padding: 3rem;
  border-radius: 5px;
  width: 90%;
  height: 100%;
  max-height: 500px;
  overflow-y: scroll;
}

.allMatches ul {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
}

.allMatches ul li {
  padding: 0.5rem;
  border: 1px solid #ddd;
  list-style: none;
  background: #f9f8f8;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin: 1rem 0;
}

.allMatches ul li p {
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.allMatches ul li p:nth-child(2) {
  background-color: #f9f8f8;
  font-family: "Heebo-Bold", Arial, Helvetica, sans-serif;
}

.allMatches ul li p:nth-child(3) {
  background-color: #1971ff;
}

.allMatches ul li p:nth-of-type(1) span:nth-child(1) {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin: 0.5rem;
}

.allMatches ul li p:nth-of-type(1) span:nth-child(2) {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin: 0.5rem;
}

.allMatches ul li p:nth-of-type(3) span:nth-child(1) {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin: 0.5rem;
}

.allMatches ul li p:nth-of-type(3) span:nth-child(2) {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin: 0.5rem;
}

/* END MATCHES PAGE */

/* RESPONSIVE */

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .allMatches {
    padding: 1rem;
  }

  .allMatches ul li p:nth-of-type(1) span:nth-child(1),
  .allMatches ul li p:nth-of-type(1) span:nth-child(2),
  .allMatches ul li p:nth-of-type(3) span:nth-child(1),
  .allMatches ul li p:nth-of-type(3) span:nth-child(2) {
    padding: 0.5rem;
  }

  .allMatches ul {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

/* END RESPONSIVE */
